<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>getSortedCities</title>
</head>
<body>
<h1>Lấy danh sách tất cả thành phố đã được sắp xếp từ A-Z</h1>
<table border="1">
    <thead>
    <tr>
        <th>Công việc</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="city : ${cities}">
        <td th:text="${city}">1</td>
    </tr>
    </tbody>
</table>

</body>
</html>