<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>getAll</title>
</head>
<body>
<h1>Danh sách tất cả các người</h1>
<table border="1">
    <thead>
    <tr>

        <th>job</th>
        <th>number of people</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="person : ${people}">
        <td th:text="${person.key}"></td>
        <td th:text="${person.value}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>