<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>groupPeopleByCity</title>
</head>
<body>
<h1>Hiển thị người có độ dài tên dài nhất</h1>
<table border="1">
    <thead>
    <tr>


        <th>Full Name:<p th:text="${person.fullName}"></p></th>

    </tr>
    </thead>
    <tbody>
    <tr >

    </tr>
    </tbody>
</table>

</body>
</html>